{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid h-100">
  <div class="row justify-content-center h-100">

    <nav class="col-2 hidden-md-down list-group bg-light">
          <div class="nav-link">João <span class="badge badge-primary">RH</span></div>
          <div class="nav-link">João <span class="badge badge-dark">TI</span></div>
    </nav>

    <main class="col-10">
        <section style="position: absolute; left: 15px; right: 0; top: 0; bottom: 54px; padding-bottom: 56px; max-height: 100%; overflow: auto;">
            <p><strong>João</strong> <span class="badge badge-primary">RH</span>: Não sei cara!</p>
        </section>
        <div style="position: absolute;left: 0;right: 0;bottom: 0;">
            <nav class="navbar navbar-light bg-light col">
                <div class="input-group">
                    <span class="input-group-addon">You</span>
                    <input type="text" class="form-control" placeholder="Text...">
                </div>
            </nav>
        </div>
    </main>
  </div>
</div>
{% endblock %}
