<!doctype html>
<html>
  <head>
    <title>Djang Channels!</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style type="text/css">body, html { height: 100%; }
    </style>
  </head>
  <body>
    <div class="container-fluid h-100">
        <div class="row justify-content-center h-100">
        {% block content %}
        {% endblock %}
        </div>
    </div>
   {% block footer-scripts %}
    {% endblock %}
  </body>
</html>
